# Dependencies
node_modules/
**/node_modules/

# Environment variables & secrets
.env
**/.env
*.env

# Angular / Build output
.angular/
**/.angular/
dist/
**/dist/

# Logs
*.log
npm-debug.log*

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
